/* Set styles to equalise browser rendition*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {  padding: 0; margin: 0; 
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block; 
}
body {text-align:center; margin-top: 20px; background: #bee8ff; font: 100% arial; 
}
#container {width:97%; margin: auto; text-align: center;
}

#container-2 {
	margin: auto; text-align: center; width: 97%; min-width: 800px; max-width: 1200px;
}

a {
	background: orange; color: navy;
}
.inline-block a {
	display: inline-block; width: 23%; height: 30px; line-height: 30px;text-align: center;
}

/*HEADER/BANNER FILLS THE CONTAINER'S WIDTH*/
header {
	padding-top:0; 
	width:960px; 
	height:100px; 
	margin-top:20px; 
	background-size: 50% 100%;
    background-image:url('images/183827104_3988962411179790_7582603085971185577_n.jpg'); background-repeat:no-repeat;
    background: #58a;
    background: linear-gradient(-45deg, transparent 15px, #58a 0); 
}
/*SET FONTS*/
span.small { font-size:small;
}
@font-face {
	font-family: Ampersand;;
	src: local('Baskerville-Italic'),
	     local('GoudyOldStyleT-Italic'), 
		 local('Palatino-Italic'),
		 local('BookAntiqua-Italic');
	unicode-range: U+26;
    }
#banner h1 { 
    font-family:"times new roman"; 
	font-size:x-large; 
	color:white;  
	text-align:center;
	font-weight:bold; 
	padding-top:30px; 
	margin-bottom:0px; 
	height: 75px; 
	margin:auto; 	  
    text-shadow: 0.1em 0.1em 0.2em blue; 
	background: hsl(0,50%,45%);
	text-shadow: 1px 1px black, 2px 2px black,
	             3px 3px black, 4px 4px black,
				 5px 5px black, 6px 6px black,
				 7px 7px black, 8px 8px black;
    padding-top:25px; 
}
h2 {
	font-size: 1em; padding-top: 5px;
}
/*set images to have no borders*/
img { 	border:0;
}
/*set far right column for ads*/
#rightcol { width:170px; float:right; margin-top: -50px; text-align:center;	
}
#rightcol p.advert { 
	font-size: small; margin-top: 190px;
} 
/*set middle column for main content*/
#midcol { margin-left:135px; margin-right:155px;
}
/*set gallery block position*/ 
#gallery-block { position:relative; left: 10%; top: -5%; 
}
/*set footer*/
a.foot { 	
	clear:both; 
	color:black; 
	text-align:center; 
	width:970px; 
	height: 10.5rem;
	margin: 0 auto;
	border: 1px solid black; 
	background: #946055;
	background-image: linear-gradient(
		                hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	border: 1px solid rgba(0,0,0,.4);
	border: 4px outset #c96e6b;
	border-bottom: none;
	border-radius: .5em .5em 0 0;
	box-shadow: 0 .15em white inset;
	transform: perspective(.5em) rotateX(5deg);
	transform-origin: bottom;
}
.clear { clear:both;
}
/*set menu buttons
li.btn a { display:block; background-color :#66CCFF; color:black; font-weight:bold; padding:4px;
	margin-left:0; text-align:center; list-style-type:none; text-decoration:none; width:110px;
	
}*/
li.btn a:hover { background-color:blue; color:white;
}
li.btn { width:110px;
}
/*SET THUMBNAIL GALLERY BLOCK*/  
/* Set general thumbnail styles */
#col-1	{ position: absolute; top: 0; left: 0; width:85px;
} 
/*place the column on the page*/
li	{ margin: 5px; list-style-type:none; 
} 
/*remove bullets from the un-ordered list elements and create the
MouseOut state (default) - create and position a space for the larger images and hide them*/
#col-1 a img.hid { width: 260px; height:390px; position: absolute; top: 10px; left: 280px;
	visibility: hidden;
}
/* MouseOver state (hover)- this reveals larger picture */
#col-1 a:hover { background: white; }
#col-1 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 2nd column of thumbnails 85px further over to right*/
#col-2	{ position: absolute; top: 0; left: 85px; width:85px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture */
#col-2 a img.hid { width: 260px; height:390px;
	position: absolute; top: 10px; left: 197px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-2 a:hover { background: white; }
#col-2 a:hover img.hid { visibility:visible; }

/*----------------------------------------------------*/

/* set 3nd column of thumbnails 170px further over to right*/
#col-3	{ position: absolute; top: 0; left: 175px; width:95px; }
li	{ margin: 5px; list-style-type:none;	
}
/* MouseOut state (default) - hide larger picture */
#col-3 a img.hid {
	width: 260px; height:390px;
	position: absolute; top: 10px; left: 115px; margin-left:0;
	visibility: hidden;
	}
/* MouseOver state (hover)- reveal larger picture */
#col-3a:hover { background: white; 
}
#col-3 a:hover img.hid { visibility:visible; 
}



nav {
	position:relative;
    top: -51px; color: yellow; 
    margin: -25px 0 0 0; padding: .3em 1em 0; padding-left: 10px; z-index: 1; }
    /* use display:inline to remove IE6 double margin bug*/
    nav li { display: inline; overflow: hidden; list-style-type: none; 
}
/*set tab colour*/
nav a {
	position: relative;
	display: inline-block;
	padding: 1em 1em 0;
	font-size:medium; font-family:"times new roman"; text-align:center;
}
nav  a::before {
    content: '';
	position:absolute;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: #946055;
	background-image: linear-gradient(
		                hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	border: 1px solid rgba(0,0,0,.4);
	border: 4px outset #c96e6b;
	border-bottom: none;
	border-radius: .5em .5em 0 0;
	box-shadow: 0 .15em white inset;
	transform: perspective(.5em) rotateX(5deg);
	transform-origin: bottom;

}
	
     /*make a 3px wide bottom border on tab the same colour as the page */
a.active { 
	background: #946055; color: white; border-bottom: 3px solid #cfecf5; border: 4px outset #c96e6b; font-size:small; font-family:"times new roman"; text-align:center;
	}
  /*hovering over a non-active tab shows an aqua tab*/
	nav a:hover { 	background: aqua;  border: 4px outset #c96e6b; border-radius: .5em .5em 0 0; font-size:small; font-family:"times new roman"; text-align:center;
	}
 	nav a:visited { color: yellow; border: 4px outset #c96e6b;font-size:small; font-family:"times new roman"; text-align:center;
	}
 /*hovering over the active tab shows navy text*/
	nav a.active:hover { background: #cfecf5; color: navy; border: 4px outset #c96e6b; font-size:small; font-family:"times new roman"; text-align:center;
	}
/*set the position of the content to butt up to the menu tabs*/ 
	#box {margin-top:0; font : 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
		position:relative; top:-13px; text-align: left; background: #cfecf5;
		padding: 20px; border: 1px solid black; border-top: none; z-index: 2;
		}
/*SET FONTS*/
span.small { font-size:medium;
}

#navone { float:left; margin-top: -5%; width:115px; font-size: 100%; font-family:"times new roman"; text-align:center;
}
#navone ul { margin-left: 30%; border:0; width:115px;
}
/*set menu buttons */
#navone li.btn a { display:block; background-color :#946055; color:yellow; font-weight:bold; padding:4px;
	margin-left: 10px; margin-top: 5%; text-align:center; list-style-type:none; text-decoration:none; width:110px;border: 4px outset #c96e6b;
}
#navone li.btn a:hover { background-color:aqua;color:white;  border: 4px outset #c96e6b;
}
#navone nav li a:active { background:#aecbff;  border: 4px inset #aecbff; 
}
#navone li.btn { width:110px;
}

a { background: oramge;}
footer a:link {color: navy; text-decoration:none;font-weight:bold; font-size:80%;}
footer a:visited {color: blue; text-decoration: none; }
footer a:active {color: navy; text-decoration: none; }
footer a:hover {color: red;text-decoration: none; }

