/* Set styles to equalise browser rendition*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {  
	padding: 0; 
	margin: 0; 
}

header, footer, section, article, nav { 
	display:block; 
}
.picture {
	width: 220px;
	transform: rotate(10deg);
	overflow: hidden;
}
.picture {
	max-width: 100%;
	transform: rotate(-0deg) scale(1.0);
	overflow: hidden;
}                
img {
    clip-path: polygon(50% 0, 100% 50%,
		           50% 100%, 0 50%);
		           transition: 1s clip-path;
}
img:hover{
        clip-path: polygon(0% 0, 100% 0%,
	100% 100%, 0 100%);		
}
body {
	text-align:center; 
	margin: 0.25em; 
	background: #bee8ff; 
	font: medium arial;
        padding: .3em .8em;
        
        background: #58a linear-gradient(#FF9966, #58a);
        border-radius: .2em;
        box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
        color: white;
        text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
        font-size: 80%;
        line-height: 1.5;
        border-width: 10px;
        border-left-width: 0;
}
#container {
	width:960px; 
	margin:5px auto 0 auto; 
	    padding: .3em .8em;
        border: 1px solid rgba(0, 0, 0, .1);
        background: #58a linear-gradient(#FF9966, #58a);
        border-radius: .2em;
        box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
        color: white;
        text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
        font-size: 110%;
        line-height: 1.5;
        border-width: 10px;
        border-left-width: 0;
}
header {
	margin-top:0.2em; 
        height: 9rem; 
        width:96.7%; 
        background-image:url('images/bluepan.jpg'); 
        background-repeat:no-repeat; 
        background-position: center;
        border-bottom:0;
        padding: .3em .8em;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: .2em;
        box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
        color: white;
        text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
        font-size: 100%;
        line-height: 1.5;
        border-width: 10px;
        border-left-width: 0; 
}
h1 {
	font-family:Arial; 
        font-size:125%; 
        color:white; 
        font-weight:normal; 
        text-align:center;  
        padding-top:35px; 
        margin-bottom:-10px; 
        height: 94px; 
        margin:auto;
        padding: .3em .8em;
        border: 1px solid rgba(0, 0, 0, .1);
        background: #58a linear-gradient(#FF9966, #58a);
        border-radius: .2em;
        box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
        color: white;
        text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
        line-height: 1.5;
        border-width: 10px;
        border-left-width: 0;
}
/*set the generic tab style--and set position so that it overlaps the header*/ 
nav {
	position:relative; 
	top:25px; 
	color: navy; 
	
	margin: -25px 0 0 0; 
	padding: 0px; 
	padding-left: 10px; 
	z-index: 1; 
}
/* use display:inline to remove IE6 double margin bug*/
nav li { 
	display: inline; 
	overflow: hidden; 
	list-style-type: none; 
}
/*set tab colour*/
	
nav a, a.active { 
	color: navy; 
	background: #81d9f6; 
	font: bold 1em "Trebuchet MS", 
	Arial, sans-serif;
	border: 1px solid black; 
	padding: 2px 5px 0px 5px; 
	margin: 0; 
	text-decoration: none; 
}
 /*make a 3px wide bottom border on tab the same colour as the page*/  
nav a.active { 
	background: #cfecf5; 
	color:navy; 
	border-bottom: 3px solid #cfecf5; 
}
  /*hovering over a non-active tab shows an aqua tab*/
nav a:hover { 	
	background: aqua; 
}
nav a:visited { 
	color: navy; 
}
 /*hovering over the active tab shows navy text*/
nav a.active:hover { 
	background: #cfecf5; 
	color: navy; 
}
/*set the position of the content to butt up to the menu tabs*/ 
#content {
	height: 46.5em;
	margin-top:0.7em; 
	font : 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
	position:relative; 
	top:-13px; 
	text-align: left; 
	background: #cfecf5;
	padding: 20px;
	padding: .3em .8em;
        border: 1px solid rgba(0, 0, 0, .1);   
        border-radius: .2em;
        box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
        color: white;
        text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
        font-size: 100%;
        line-height: 1.5;
        border-width: 10px;
        border-left-width: 0;	
	border: 1px solid black; 
	border-top: none; 
	z-index: 2;
}
	
nav { 
      width: 95%;   
        color: white;
        text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
        font-size: 105%;
        line-height: 1.5;

}
article { float:right;
	 position:relative; 
	 top:-13em; 
	 width:70%; 
	 background-color:#FF9966; 
	 margin-bottom:2rem; 
	 text-align: center;
	 padding: .3em .8em;	
	 border: 1px solid rgba(0, 0, 0, .1);
	background: #58a linear-gradient(#FF9966, #58a);
	border-radius: .2em;
	box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
	color: white;
	text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
	font-size: 100%;
	line-height: 1.5;
	border-width: 10px;
	border-left-width: 0;
}
footer { clear:both; background-color:#FF9966; text-align:center;
}
h2 { 
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding: .3em .8em;
	border: 1px solid rgba(0, 0, 0, .1);
	background: rgba(0, 0, 0, .5);
	border-radius: .2em;
	box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
	color: white;
	text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
	font-size: 100%;
	text-align: center;
	line-height: 1.5;
	border-width: 10px;
	border-left-width: 0;
}
.button {
position: relative;
/* text color, paddings, etc. */
display: inline-block;
border-radius: .2em;
color: white;
text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
font-size: 80%;
line-height: 1.5;
border-width: 10px;
border-left-width: 0;
}
.button::before {
content: ''; /* To generate the box */
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
z-index: -1;
background: maroon;
transform: skew(45deg);
}
.button>div {
transform: skewX(45deg);
}
/*
nav ul { width: 115px; float:left;margin-left:0; 
}
nav li { 
margin-bottom: 1px; 
text-align: center; 
list-style:none; 
padding-bottom:3px;
}

nav li a { 
display: block; 
color: yellow; 
font-weight: bold;
text-decoration: none;  
zoom:1; 
}
nav li a:active { 
background:#aecbff;  
border: 4px inset #aecbff; 
}
 set general inset button styles 
nav li.insetbtn { 
border:none;
}
nav li.insetbtn a { 
display: block; 
color:orange; 
font-weight: bold;
text-decoration: none; 
cursor:default; 
margin-bottom: 0; 
text-align: center; 
list-style:none;
padding-bottom:3px;
}
*/
